@using EspecificWordle.Models.Wordle

@model ResultViewModel

<div class="modal-dialog modal-fullscreen">

    <div class="modal-content">

        <div class="modal-body">

            <div class="div-content-modal">

                <div>

                    <div class="div-btn-close">
                        <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-xmark fa-lg"></i>
                        </button>
                    </div>

                    <div class="div-result">

                        <div class="col-6">
                            <span>
                                @Model.Intento&nbsp;
                            </span>

                            <span class="text-muted">
                                @(Model.Result == 1 ? "ganaste" : "perdiste")
                            </span>
                        </div>

                        <div class="div-modo col-6">
                            <i>@Model.ModoDescripcion</i>
                        </div>

                    </div>

                </div>

                <div class="div-word-def">

                    <div class="div-content-word-def">

                        <div class="div-word">
                            <span class="col-6">@Model.Palabra<sup>ES</sup></span>
                            <span class="col-6">@Model.PalabraEn<sup>EN</sup></span>
                        </div>

                        <div class="div-def">
                            <span class="span-def">
                                @Html.Raw(Model.Definicion.Replace("\n", "<br>"))
                            </span>
                        </div>

                    </div>

                </div>

                @if (!string.IsNullOrEmpty(Model.EjemploUso))
                {
                    <div class="div-use">
                        <div class="text-muted info-small">Ejemplo de uso</div>
                        <span>
                            @Model.EjemploUso
                        </span>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.Sinonimos) || !string.IsNullOrEmpty(Model.Antonimos))
                {
                    <div class="div-sin-ant">

                        @if (!string.IsNullOrEmpty(Model.Sinonimos))
                        {
                            <div class="col-6">
                                <div class="text-muted info-small">Sinónimos</div>
                                <span>
                                    @Model.Sinonimos
                                </span>
                            </div>
                        }

                        @if (!string.IsNullOrEmpty(Model.Antonimos))
                        {
                            <div class="col-6">
                                <div class="text-muted info-small">Antónimos</div>
                                <span>
                                    @Model.Antonimos
                                </span>
                            </div>
                        }

                    </div>
                }

                <div class="div-buttons">
                    <button type="button" onclick="redirectByMode('Aleatoria')" class="btn-modo form-control form-control-lg">Aleatoria</button>
                    <button type="button" onclick="redirectByMode('Ciencia')" class="btn-modo form-control form-control-lg">Ciencia</button>
                    <button type="button" onclick="redirectByMode('Naturaleza')" class="btn-modo form-control form-control-lg">Naturaleza</button>
                </div>

                <div title="Cuenta regresiva" class="div-parent-countdown">
                    <div id="countdown" class="text-muted">
                        <span>Próxima palabra en</span>
                        <span id="time-remaining"></span>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
