
<!-- "Estructura" -->

<div id="rows" class="row">
    <div class="col-md-1">
        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
    </div>
    <div class="col-md-1">
        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
    </div>
    <div class="col-md-1">
        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
    </div>
    <div class="col-md-1">
        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
    </div>
    <div class="col-md-1">
        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
    </div>
</div>

<style type="text/css">

    #rows {
        justify-content: center;
    }

    #rows div {
        padding:.3%;
        width: 5%;
    }

    #rows div .form-control:focus {
        outline: none;
        box-shadow: none;
    }

    #rows div .form-control {
        border-width: 3px;
        text-align:center;
        font-weight: bold;
        font-size: 18px;
    }

    .form-control {
        caret-color: transparent;
        cursor: pointer;
    }

</style>
