@model ErrorViewModel

<script type="text/javascript">

    $(document).ready(function () {

        $('#stackTrace').on('show.bs.collapse', function () {
            $('#collapseIcon').removeClass('fa-chevron-down').addClass('fa-chevron-up');
        });


        $('#stackTrace').on('hide.bs.collapse', function () {
            $('#collapseIcon').removeClass('fa-chevron-up').addClass('fa-chevron-down');
        });

    });

    function sendError() {
        let exceptionMessage = "@Model.ExceptionMessage";
        let path = "@Model.Path";
        let stackTrace = "@Model.StackTraceByEmail";

        let body = `Mensaje: ${exceptionMessage}\n\n` +
            `Ruta: ${path}\n\n` +
            `Stack Trace:\n\n ${stackTrace}`;

        sendEmail(body, true);
    }

</script>

<div class="div-exception-errors container min-vh-100 d-flex flex-column justify-content-center align-items-center text-left gap-3">

    <div class="p-1 pb-2 w-100" style="border-bottom: 1px solid #C7C8CC;">
        <h1 class="text-danger">Ocurrió un error inesperado</h1>    
    </div>

    @if (!string.IsNullOrEmpty(Model.ExceptionMessage))
    {
        <div class="d-flex flex-column p-1 w-100 gap-3">

            <div class="d-flex flex-column gap-2 pb-4" style="border-bottom: 1px solid #C7C8CC;">
                <h2 class="text-muted">Detalles del Error</h2>
                <span><strong class="text-muted">Mensaje</strong>&nbsp;&nbsp; @Model.ExceptionMessage</span>
                <span><strong class="text-muted">Ruta</strong>&nbsp;&nbsp; @Model.Path</span>
            </div>

            <div>
                <h3 role="button" class="text-muted d-flex justify-content-between m-0" data-bs-toggle="collapse" data-bs-target="#stackTrace" aria-expanded="false" aria-controls="stackTrace">
                    Más información
                    <i id="collapseIcon" class="fa-solid fa-chevron-down"></i>
                </h3>

                <div id="stackTrace" class="collapse mt-3">
                    <pre class="bg-light text-danger p-2 rounded">@Model.StackTrace</pre>
                </div>
            </div>

            <div class="div-report">
                <span>
                    Reporta el error presionando
                    <a role="button" onclick="sendError()" class="btn btn-secondary ms-1">
                        acá &nbsp;&nbsp; <i class="fa-solid fa-envelope"></i>
                    </a>
                </span>
            </div>

        </div>
    }

</div>
